body { 
	background: url(https://img3.akspic.ru/previews/3/0/9/6/7/176903/176903-zakat-oblako-voda-atmosfera-rastenie-500x.jpg);
	background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100%;
}

.photos {
   width: 13em;
 }
 
.photos_01 {
   width: 1.05em;
}

 .version {
	color: black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  border: 1px solid #555;
}

li a {
  display: block;
  background-color: #7fffd4;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li {
  text-align: center;
  border-bottom: 1px solid #555;
}

li:last-child {
  border-bottom: none;
}

li a.active {
  background-color: #ff7518;
  color: black;
}

li a.active1 {
  background-color: #00ffff;
  color: black;
}

li a.active2 {
  background-color: black;
  color: red;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
  /*текст пр наведение*/
}